/* General */

*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace, monospace;
    color: white;
}

header > h1{
    color:rgba(124, 14, 0, 0.767);
    margin: 0;
    padding: 0;
    font-size: 4em;
}

h1, h2, h3, h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(109, 109, 109);
}

.container{
    display: grid;
    grid-template-areas:
    'header header header header header'
    'menu menu main main main'
    'menu menu main main main'
    'menu menu footer footer footer';
    gap: 10px;
    padding: 10px;
    grid-template-rows: 56vh;
}


.container > header, nav, section, footer {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.header{
    grid-area: header;
    background-image: url("/image/smltypewriter.jpg");
    background-repeat:repeat;
    border: 10px, solid black;
}

.nav{
    grid-area: menu;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}

/* info page css */

ul{
    list-style: none;
}


/* Prompt css */
#storyDisplay{
    background-color: rgba(255, 255, 255, 0.815);
    color: black;
} 


/* stories css */

.story_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*background-color: black;*/
    padding: 1rem;

}

    .short {
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    padding: 2rem 1rem;
    border: 3px solid white;
    margin: 0.375rem; 
    flex-basis: auto;
    overflow: scroll;
    }

.story_container > div {
    background-color: rgb(15, 15, 15);
    font-size: 15px;
}



/* submissions css */

textarea{
    color: black;
}

button{
    color: black;
}