/* General */

*{
    margin: 0;
    padding: 0;
    background-color: dimgrey;
    font-family: Arial, Helvetica, sans-serif;

}


.header{
    grid-area: header;
}

.nav{
    grid-area: menu;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}


.container{
    display: grid;
    grid-template-areas:
    'header header header header header'
    'menu menu main main main'
    'menu menu main main main'
    'menu menu footer footer footer';
    grid-gap: 5px;
    background-color: rgb(67, 90, 104);
    padding: 5px;
}


.container > div{
    background-color: lightskyblue;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}